.container-fluid {
	background-color: #337ab7;
}

.navbar-brand p {
	color: white;
}

.navbar-default .navbar-text {
    color: white;
}

.navbar-collapse p {
	padding: 1px;
}

.row {
	text-align: center;
}

#exp-navbar {
	color: white;
	text-align: center;
	padding: 10px;
}