.navbar {
	background: #337ab7;
}

.navbar-inverse {
    border-color: #337ab7;
}

.navbar-brand {
    font-size: 18px !important;
    color: #fff !important;
}

.navbar-default .navbar-text {
    color: white;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover {
	background: #337ab7;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
	-webkit-box-shadow: none;
    box-shadow: none;
}

.row {
	text-align: center;
}

body {
    cursor: default;
    padding-top: 80px;
    background: #eee;
    font-weight: 400;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-row {
	margin: 0px 10px;
}